
h2 {
  text-align: center;
}

#top_bar {
  text-align: center;
  margin-top: 60px;
}

#wrapper {
  margin: 50px auto;
  width: 800px;
  height: 500px;
  border: solid blue;
}

.divGrid {
  width: 50px;
  height: 31.25px;
  background-color: black;
  display: inline-block;
  float: left;

}

/*.divGrid:hover {
  background-color: yellow;
}*/

/* Squares with borders

.divGrid {
  width: 48px;
  height: 29.25px;
  border: 1px solid red;
  background-color: black;
  display: inline-block;
  float: left;

}
*/
